<div class="row">
    <div class="col-md-12">
        <H1>
            <div class="text-center">Mi Muro</div>
        </H1>

        <div message-form ng-model="newMessage" new-Message-Action="sendMessage()"></div>
    </div>
</div>

<BR>

<div class="row">
    <div class="col-md-12">
        <div message-panel ng-model="messages" add-likes="addLikes(m)" ng-predicate="predicate" ng-reverse="reverse" order-by-likes="orderByLikes()" order-by-date="orderByDate()" ng-show-buttons="true"></div>
    </div>
</div>